# FastAPI and Server
fastapi>=0.68.0
uvicorn>=0.15.0
python-multipart>=0.0.5
python-jose[cryptography]
PyJWT~=2.10.1
crewai~=0.108.0
crewai-tools
langchain_openai
requests~=2.32.3
pydantic~=2.11.2
python-dotenv~=1.1.0
urllib3~=2.3.0